<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <br>
          <div class="row">
            <div class="col-md-10">
            </div>
            <div align="middle" class="col-md-1">
              <a routerLink="/login">
                <button type="button" class="btn btn-primary">
                  Login
                </button>
              </a>
            </div>
            <div align="middle" class="col-md-1">
              <a routerLink="/signup">
                <button type="button" class="btn btn-primary">
                  Signup
                </button>
              </a>
            </div>
          </div>
          <div align="middle">
            <img align="middle" width="150px" alt="Plus-One-Logo" src="../assets/plus-one-logo.png">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div align="middle" class="col-md-4">
              <img width="340" alt="Sample Preferences" src="../assets/sample-match.png" />
            </div>
            <div class="col-md-4">
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-3">
            </div>
            <div align="middle" class="col-md-6">
              <img width="340px" alt="Sample Chat" src="../assets/sample-chat.png" />
            </div>
            <div class="col-md-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
