<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <h5 align="middle" class="card-header">
                    Chat
                  </h5>
                  <div class="card-body">
                    <p align="middle" class="card-text">
                      Chat from SendBird here
                      <br>
                      Chat from SendBird here
                      <br>
                      Chat from SendBird here
                      <br>
                      Chat from SendBird here
                      <br>
                      Chat from SendBird here
                      <br>
                      Chat from SendBird here
                      <br>	
                    </p>
                  </div>
                  <div class="card-footer">
                    
                    <form role="form">
                      <div style="display:inline" class="form-group">											 
                        <input style="display:inline" type="text" class="form-control" id="exampleInputText" placeholder="Your Message Here" />
                        <button style="display:inline" type="submit" class="btn btn-primary">
                          Send
                        </button>
                      </div>								
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-9">
              </div>
              <div class="col-md-3">			 
                <button type="submit" class="btn btn-primary">
                  Kill Chat
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>