<div class="container-fluid">
	<div class="row">
		<div align="middle" class="col-md-12">
			<img width="150px" alt="plus-one-logo" src="../../assets/plus-one-logo.png" />
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="card">
				<h5 align="middle" class="card-header">
					Sign in to your account
				</h5>
				<div class="card-body">

          <form role="form">
            <div class="form-group">
               
              <label for="exampleInputEmail1">
                Email address
              </label>
              <input type="email" class="form-control" id="exampleInputEmail1" />
            </div>
            <div class="form-group">
               
              <label for="exampleInputPassword1">
                Password
              </label>
              <input type="password" class="form-control" id="exampleInputPassword1" />
            </div>
            <button type="submit" class="btn btn-primary">
              Login
            </button>
          </form>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
