<div class="container-fluid">
	<div class="row">
		<div align="middle" class="col-md-12">
			<img width="150px" alt="plus-one-logo" src="../../assets/plus-one-logo.png" />
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="card">
				<h5 align="middle" class="card-header">
					Sign in to your account
				</h5>
				<div class="card-body">

          <form role="form">
            <div class="form-group">
               
              <label for="email">
                Email address
              </label>
              <input [(ngModel)]="model.email" #email="ngModel" name="email" type="email" class="form-control" id="email" />
            </div>
            <div class="form-group">
               
              <label for="password">
                Password
              </label>
              <input [(ngModel)]="model.password" #password="ngModel" name="password" type="password" class="form-control" id="password" />
            </div>
            <button (click)="loginUser(model)"type="submit" class="btn btn-primary">
              Login
            </button>
					</form>
					{{ model.email | json}}
					{{ model.password | json}}
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
