<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-10">
						</div>
						<div align="middle" class="col-md-1">

							<button type="button" class="btn btn-success">
								Login
							</button>
						</div>
						<div align="middle" class="col-md-1">

							<button type="button" class="btn btn-success">
								Signup
							</button>
						</div>
          </div>
          <div align="middle">
            <img align="middle" width="300px" alt="Plus-One-Logo" src="../assets/plus-one-logo.png">
          </div>
				</div>
      </div>
      <br>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
						</div>
						<div align="middle" class="col-md-4">
							<img width="340" alt="Sample Preferences" src="../assets/sample-match.png" />
						</div>
						<div class="col-md-4">
						</div>
          </div>
          <br>
          <br>
					<div class="row">
						<div class="col-md-3">
						</div>
						<div align="middle" class="col-md-6">
							<img width="340px" alt="Sample Chat" src="../assets/sample-chat.png" />
						</div>
						<div class="col-md-3">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>


<!-- <div style="text-align:center">
  <h1></h1>
  <img width="300px" alt="Plus-One-Logo" src="../assets/plus-one-logo.png">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

