<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<br>
					<div class="row">
						<div class="col-md-10">
						</div>
						<div align="middle" class="col-md-1">
							<button type="button" class="btn btn-primary">
								Login
							</button>
						</div>
						<div align="middle" class="col-md-1">
							<button type="button" class="btn btn-primary">
								Signup
							</button>
						</div>
          </div>
          <div align="middle">
            <img align="middle" width="150px" alt="Plus-One-Logo" src="../assets/plus-one-logo.png">
          </div>
				</div>
      </div>
      <br>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
						</div>
						<div align="middle" class="col-md-4">
							<img width="340" alt="Sample Preferences" src="../assets/sample-match.png" />
						</div>
						<div class="col-md-4">
						</div>
          </div>
          <br>
          <br>
					<div class="row">
						<div class="col-md-3">
						</div>
						<div align="middle" class="col-md-6">
							<img width="340px" alt="Sample Chat" src="../assets/sample-chat.png" />
						</div>
						<div class="col-md-3">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<div align="middle"><pre>BELOW IS THE SIGNUP COMPONENT TEMPLATE</pre></div>
<div class="container-fluid">
	<div class="row">
		<div align="middle" class="col-md-12">
			<img width="150px" alt="plus-one-logo" src="../../assets/plus-one-logo.png" />
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="card">
				<h5 align="middle" class="card-header">
					Create your account
				</h5>
				<div class="card-body">

          <form role="form">
						<div class="form-group">
               
              <label for="exampleInputEmail1">
                First Name
              </label>
							<input type="text" class="form-control" id="exampleInputText" />
							<label for="exampleInputEmail1">
                Last Name
              </label>
              <input type="text" class="form-control" id="exampleInputText" />
            </div>	
						<div class="form-group">
               
              <label for="exampleInputEmail1">
                Email address
              </label>
              <input type="email" class="form-control" id="exampleInputEmail1" />
            </div>
            <div class="form-group">          
              <label for="exampleInputPassword1">
                Password
              </label>
              <input type="password" class="form-control" id="exampleInputPassword1" />
            </div>
            <button type="submit" class="btn btn-primary">
              Login
            </button>
          </form>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<br><br><br><br><br><br>
<div align="middle"><pre>BELOW IS THE LOGIN COMPONENT TEMPLATE</pre></div>
<div class="container-fluid">
	<div class="row">
		<div align="middle" class="col-md-12">
			<img width="150px" alt="plus-one-logo" src="../../assets/plus-one-logo.png" />
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="card">
				<h5 align="middle" class="card-header">
					Sign in to your account
				</h5>
				<div class="card-body">

          <form role="form">
            <div class="form-group">
               
              <label for="exampleInputEmail1">
                Email address
              </label>
              <input type="email" class="form-control" id="exampleInputEmail1" />
            </div>
            <div class="form-group">
               
              <label for="exampleInputPassword1">
                Password
              </label>
              <input type="password" class="form-control" id="exampleInputPassword1" />
            </div>
            <button type="submit" class="btn btn-primary">
              Login
            </button>
          </form>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<br><br><br><br><br>
<div align="middle"><pre>BELOW IS THE CHAT COMPONENT TEMPLATE</pre></div>

<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<h5 align="middle" class="card-header">
									Chat
								</h5>
								<div class="card-body">
									<p align="middle" class="card-text">
										Chat from SendBird here
										<br>
										Chat from SendBird here
										<br>
										Chat from SendBird here
										<br>
										Chat from SendBird here
										<br>
										Chat from SendBird here
										<br>
										Chat from SendBird here
										<br>	
									</p>
								</div>
								<div class="card-footer">
									
									<form role="form">
										<div style="display:inline" class="form-group">											 
											<input style="display:inline" type="text" class="form-control" id="exampleInputText" placeholder="Your Message Here" />
											<br>
											<button style="display:inline" type="submit" class="btn btn-primary">
												Send
											</button>
										</div>								
									</form>
								</div>
							</div>
						</div>
					</div>
					<br>

					<div class="row">
						<div class="col-md-9">
						</div>
						<div class="col-md-3">			 
							<button type="submit" class="btn btn-primary">
								Kill Chat
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<div align="middle"><pre>BELOW IS THE LOGGED-IN HOME COMPONENT TEMPLATE</pre></div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div align="middle" class="col-md-12">
            <img width="150px" alt="plus-one-logo" src="../../assets/plus-one-logo.png" />
          </div>
				</div>
				<br>
				<br>
        <div class="row">
          <div class="col-md-12">
            <div align="middle" class="card">
              <h5 class="card-header">
                Dynamic User Name
              </h5>
						</div>
						<br>
            <div align="middle" class="card">
              <h5 align="middle" class="card-header">
                Favorite Foods
              </h5>
              <div align="middle" class="card-body">
                <p class="card-text">
                  Dynamic Favorite Foods By User
                </p>
              </div>
						</div>
						<br>
            <div class="card">
              <h5 align="middle" class="card-header">
                Favorite Conversation Topics
              </h5>
              <div class="card-body">
                <p align="middle" class="card-text">
                  Dynamic Conversation Topics By User
                </p>
              </div>             
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
				<br>
				<br>
        <div class="row">
          <div class="col-md-10">
          </div>
          <div class="col-md-2">
             
            <button type="button" class="btn btn-primary">
              Logout
            </button>
          </div>
				</div>
				<br>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <h5 align="middle" class="card-header">
                    Cravings
                  </h5>
                </div>
              </div>
						</div>
						<br>
						<div class="container-fluid">
								<div class="row">
									<div class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											Filipino
										</button>
									</div>
									<div class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											Pizza
										</button>
									</div>
									<div class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											Ethiopian
										</button>
									</div>
								</div>
							</div>
							<br>
							<div class="container-fluid">
									<div class="row">
										<div class="col-md-4">									 
											<button type="button" class="btn btn-primary btn-block">
												Mexican
											</button>
										</div>
										<div class="col-md-4">
											 
											<button type="button" class="btn btn-primary btn-block">
											  Vietnamese
											</button>
										</div>
										<div class="col-md-4">										 
											<button type="button" class="btn btn-primary btn-block">
												Other
											</button>
										</div>
									</div>
								</div>
								<br>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <h5 align="middle" class="card-header">
                    Price
                  </h5>
                </div>
              </div>
						</div>
						<br>
						<div class="container-fluid">
								<div class="row">
									<div align="middle" class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											$
										</button>
									</div>
									<div align="middle" class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											$$
										</button>
									</div>
									<div align="middle" class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											$$$
										</button>
									</div>
								</div>
							</div>           
				<br>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <h5 align="middle" class="card-header">
                    Attire
                  </h5>
                </div>
              </div>
						</div>
						<br>
						<div class="container-fluid">
								<div class="row">
									<div align="middle" class="col-md-4">
										 
										<button align="middle" type="button" class="btn btn-primary btn-block">
											Sporty
										</button>
									</div>
									<div align="middle" class="col-md-4">
										 
										<button align="middle" type="button" class="btn btn-primary btn-block">
											Casual
										</button>
									</div>
									<div align="middle" class="col-md-4">
										 
										<button align="middle" type="button" class="btn btn-primary btn-block">
											Business
										</button>
									</div>
								</div>
							</div>
							<br>
				<br>
        <div class="row">
          <div class="col-md-10">
          </div>
          <div class="col-md-2">
             
            <button type="button" class="btn btn-primary btn-block">
              Match Me
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
