<div class="container-fluid">
	<div class="row">
		<div align="middle" class="col-md-12">
			<a routerLink="/">
				<img width="130px" alt="plus-one-logo" src="../../assets/plus-one-logo.png" />
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="card">
				<h5 align="middle" class="card-header">
					Create your account
				</h5>
				<div class="card-body">

          <form role="form">
						<div class="form-group">
               
              <label for="firstname">
                First Name
              </label>
							<input [(ngModel)]="model.firstName" #firstname="ngModel" name="firstname" type="text" class="form-control" id="firstname" required />
							<label for="lastname">
                Last Name
              </label>
							<input [(ngModel)]="model.lastName" #lastname="ngModel" name="lastname" type="text" class="form-control" id="lastname"  required />
							<label for="firstname">
								Username
							</label>
							<input [(ngModel)]="model.username" #username="ngModel" name="username" type="text" class="form-control" id="username" required />
							<label for="firstname">
									Phone Number
								</label>
								<input [(ngModel)]="model.number" #number="ngModel" name="number" type="number" class="form-control" id="number" required />
            </div>	
						<div class="form-group">
               
              <label for="email">
                Email address
              </label>
							<input [(ngModel)]="model.email" #email="ngModel" name="email" type="email" class="form-control" id="email" required/>
            </div>
            <div class="form-group">          
              <label for="password">
                Password
              </label>
							<input [(ngModel)]="model.password" #password="ngModel" name="password" type="password" class="form-control" id="password" required minlength="6"/>
						</div>
            <button (click)="signupUser(model)" type="submit" value="Submit" class="btn btn-primary">
              Sign Up
						</button>
						<a style="float: right;" class="btn btn-primary" routerLink="/login">Login</a>
						<div>
						</div>
          </form>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<br><br><br><br><br><br>