<div class="container-fluid">
	<div class="row">
		<div align="middle" class="col-md-12">
			<img width="300px" alt="plus-one-logo" src="../../assets/plus-one-logo.png" />
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="card">
				<h5 align="middle" class="card-header">
					Create your account
				</h5>
				<div class="card-body">

          <form role="form">
						<div class="form-group">
               
              <label for="firstname">
                First Name
              </label>
							<input [(ngModel)]="model.firstName" #firstname="ngModel" name="firstname" type="text" class="form-control" id="firstname" required />
							<label for="lastname">
                Last Name
              </label>
							<input [(ngModel)]="model.lastName" #lastname="ngModel" name="lastname" type="text" class="form-control" id="lastname"  required />
            </div>	
						<div class="form-group">
               
              <label for="email">
                Email address
              </label>
							<input [(ngModel)]="model.email" #email="ngModel" name="email" type="email" class="form-control" id="email" required/>
            </div>
            <div class="form-group">          
              <label for="password">
                Password
              </label>
							<input [(ngModel)]="model.password" #password="ngModel" name="password" type="password" class="form-control" id="password" required minlength="6"/>
						</div>
            <button (click)="signupUser(model)" type="submit" value="Submit" class="btn btn-primary">
              Register
						</button>
						<div>
						</div>
          </form>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<br><br><br><br><br><br>