<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div align="middle" class="col-md-12">
            <img width="150px" alt="plus-one-logo" src="../../assets/plus-one-logo.png" />
          </div>
				</div>
				<br>
				<br>
        <div class="row">
          <div class="col-md-12">
            <div align="middle" class="card">
              <h5 class="card-header">
                {{this.email}}
              </h5>
						</div>
						<br>
            <div align="middle" class="card">
              <h5 align="middle" class="card-header">
                Favorite Foods
              </h5>
              <div align="middle" class="card-body">
                <p class="card-text">
                  Tacos :)
                </p>
              </div>
						</div>
						<br>
            <div class="card">
              <h5 align="middle" class="card-header">
                Favorite Conversation Topics
              </h5>
              <div class="card-body">
                <p align="middle" class="card-text">
									Taco Tuesday!!!!
                </p>
              </div>             
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
				<br>
				<br>
        <div class="row">
          <div class="col-md-10">
          </div>
          <div class="col-md-2">
             
            <button type="button" class="btn btn-primary">
              Logout
            </button>
          </div>
				</div>
				<br>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <h5 align="middle" class="card-header">
                    Cravings
                  </h5>
                </div>
              </div>
						</div>
						<br>
						<div class="container-fluid">
								<div class="row">
									<div class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											Filipino
										</button>
									</div>
									<div class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											Pizza
										</button>
									</div>
									<div class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											Ethiopian
										</button>
									</div>
								</div>
							</div>
							<br>
							<div class="container-fluid">
									<div class="row">
										<div class="col-md-4">									 
											<button type="button" class="btn btn-primary btn-block">
												Mexican
											</button>
										</div>
										<div class="col-md-4">
											 
											<button type="button" class="btn btn-primary btn-block">
											  Vietnamese
											</button>
										</div>
										<div class="col-md-4">										 
											<button type="button" class="btn btn-primary btn-block">
												Other
											</button>
										</div>
									</div>
								</div>
								<br>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <h5 align="middle" class="card-header">
                    Price
                  </h5>
                </div>
              </div>
						</div>
						<br>
						<div class="container-fluid">
								<div class="row">
									<div align="middle" class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											$
										</button>
									</div>
									<div align="middle" class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											$$
										</button>
									</div>
									<div align="middle" class="col-md-4">
										 
										<button type="button" class="btn btn-primary btn-block">
											$$$
										</button>
									</div>
								</div>
							</div>           
				<br>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <h5 align="middle" class="card-header">
                    Attire
                  </h5>
                </div>
              </div>
						</div>
						<br>
						<div class="container-fluid">
								<div class="row">
									<div align="middle" class="col-md-4">
										 
										<button align="middle" type="button" class="btn btn-primary btn-block">
											Sporty
										</button>
									</div>
									<div align="middle" class="col-md-4">
										 
										<button align="middle" type="button" class="btn btn-primary btn-block">
											Casual
										</button>
									</div>
									<div align="middle" class="col-md-4">
										 
										<button align="middle" type="button" class="btn btn-primary btn-block">
											Business
										</button>
									</div>
								</div>
							</div>
							<br>
				<br>
        <div class="row">
          <div class="col-md-10">
          </div>
          <div class="col-md-2">
             
            <button type="button" class="btn btn-primary btn-block">
              Match Me
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
